/* Основные блоки */
body{
	font-size: 12px;
	font-family: 'Open Sans', sans-serif;
	background: #eee;
}

header{
	padding-bottom: 1px;
	width: 80%;
	margin: 0 auto;
	background: white;
}

h1{
	font-size: 2.3rem;
	padding: 24px 36px 24px 36px;
	margin: 12px 24px 12px 24px;
	text-align: right;
	font-weight: 600;
}

h2{
	font-size: 1.5rem;
	margin: 0px 0px 0px 12px;
	display: inline-block;
	font-weight: 600;
}

h3{
	font-size: 1.5rem;
	font-weight: 600;
	padding: 10px 0 5px;

}
section{
	 width: 80%;
	 margin: 0 auto;
	 text-align: left;
	 background: white;
	 padding: 5px 24px 0px;

}

.program{
	width: 90%;

}

footer{
	text-align: right;
  	margin: 40px auto 0;
  	background: white;
  	height: 54px;
	color: grey;
}

footer p{
	margin-right: 48px;
}

a{
	text-decoration: none;
	color: black;

}

ul {
    list-style: none;
    margin-top: 10px;
}

a:hover, a:active {
 color: red;
}

.img{
	height: 36px;
	margin: 0px 0px 12px 0px;
	vertical-align: middle;
}

/*Блок программы*/

.single-program{
	vertical-align: top;
	display: inline-block;
	margin: 30px 12px 30px 12px;
	background: white;
	width: 30%;
	min-width: 256px;
}

.single-program li {
    margin-bottom: 8px;
    line-height: 1em;
}


.s-detail{
	margin: 0px 0px 6px 0px;
	color: gray;
}

.s-time{
	font-weight: bold;
	margin: 0px;
}

.old{
	color: grey;
}

/* Блок программы >> всплывающие подсказки */

.img_tooltip{

	width: 100%;
	margin: 0px;
	background: grey;
}

.tooltip-parent{
	position: relative;
	cursor: pointer;
}

.tooltip-parent .tooltip{

    visibility: hidden;
    position: absolute;
    z-index: 1;
    width: 256px;
    background-color: white;
    color: black;
    padding: 0;
    margin: 24px 1px;
    top: -9px;
    left: 13%;
    font-size: 0.8rem;
    border: 0px solid #000000;
    -webkit-box-shadow: 0px 2px 14px -4px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 2px 14px -4px rgba(0,0,0,0.6);
    box-shadow: 0px 2px 14px -4px rgba(0,0,0,0.6);
    cursor: default;
}
.section-detail{
	padding: 6px 12px 30px 12px;
	line-height: 1.4em;
}

.tooltip-parent:hover .tooltip{
    visibility: visible;
}


@media screen and (max-width: 480px){
	section, header, footer{
		width: 100%;
	}
}
